#blocco {
    margin-left: auto;
}

.grid-container {
    margin: auto;
    display: grid;
    grid-gap: 7px;
    grid-template-columns: 150px 150px 150px 150px 150px;
    grid-template-rows: 150px 150px 150px;
    grid-template-areas: "casella1 casella2 casella3 casella4 casella5""casella6 casella7 casella8 casella9 casella10""casella11 casella12 textzone casella13 casella14";
}

.casella1 {
    grid-area: casella1;
}

.casella2 {
    grid-area: casella2;
}

.casella3 {
    grid-area: casella3;
}

.casella4 {
    grid-area: casella4;
}

.casella5 {
    grid-area: casella5;
}

.casella6 {
    grid-area: casella6;
}

.casella7 {
    grid-area: casella7;
}

.casella8 {
    grid-area: casella8;
}

.casella9 {
    grid-area: casella9;
}

.casella10 {
    grid-area: casella10;
}

.casella11 {
    grid-area: casella11;
}

.casella12 {
    grid-area: casella12;
}

.casella13 {
    grid-area: casella13;
}

.casella14 {
    grid-area: casella14;
}

.nascosta {
    z-index: 5;
}

.scoperta {
    z-index: 10;
}

img {
    border: 2px solid black;
    border-radius: 5px;
    position: absolute;
}

.textzone {
    grid-area: textzone;
    border: 2px solid black;
    border-radius: 5px;
}

/*
.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.deck {
	width: 85%;
	background: #716F71;
	padding: 1rem;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
	margin: 0 0 3em;
}

.deck .card {
	height: 150px;
	width: 150px;
	margin: 0.2rem 0.2rem;
	background: #141214;;
	font-size: 0;
	color: #ffffff;
	border-radius: 5px;
	cursor: pointer;
	display: flex;
	justify-content: center;
	align-items: center;
}
*/